tryDjango/tryDjango/__pycache__/
tryDjango/blog/__pycache__/
tryDjango/blog/migrations/__pycache__/
tryDjango/blog/migrations/
tryDjango/users/__pycache__/
tryDjango/users/migrations/__pycache__/
tryDjango/users/migrations/
media/
post.json
