{% extends "blog/base.html" %}

{% block content %}
        {% for item_post in post %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ item_post.author }}</a>
                  <small class="text-muted">{{ item_post.date_posted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ item_post.title }}</a></h2>
                <p class="article-content">{{ item_post.content }}</p>
              </div>
            </article>
        {% endfor %}
{% endblock %}
